<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- LoginActivity - Main Entry Point -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Scanner Intent Filter (CT50) -->
            <intent-filter>
                <action android:name="com.erb.erbpalletcubing.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- TrailerActivity - Home Screen -->
        <activity
            android:name=".TrailerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- MainActivity - Phase 1 Testing Only (can be removed later) -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- ProHeaderActivity - Phase 3 -->

        <activity
            android:name=".ProHeaderActivity"
            android:screenOrientation="portrait"
            android:exported="false" />


        <!-- PalletDetailActivity - Phase 4 -->

        <activity
            android:name=".PalletDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />


        <!-- TODO: Phase 5 - Uncomment when SummaryActivity is created -->
        <!--
        <activity
            android:name=".SummaryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        -->

    </application>

</manifest>